{% extends "layout.html" %}

{% block main %}
<div class="top-bar">
    <div class="time-bar">
        <i class="fa-regular fa-clock icon"></i>
        <h3 class="clock">00 : 00</h3>
    </div>
    <h1 class="mode">{{ difficulty }}</h1>
    <a href="/">
        <button class="back-btn">back</button>
    </a>
</div>

<div class="game-bar">
    <div class="left">
        <table>
            {% for row in range(9) %}
            <tr>
                {% for sec in range(3) %}
                {% for col in range(3) %}
                <td>
                    {% if board[row][sec][col] is integer %}
                    <button class="sudoku-btns" type="button" disabled id="{{row}}x{{sec}}x{{col}}">
                        {{ board[row][sec][col] }}
                    </button>
                    {% else %}
                    <button class="sudoku-btns" type="button" id="{{row}}x{{sec}}x{{col}}" onclick="buttonSelect(this)"></button>
                    {% endif %}
                </td>
                {% endfor %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="right">
        <div class="status-grid">
            <p>Mistakes: <span id="mistake-count">0</span></p>
        </div>
        <div class="btn-grid">
            <button type="button" id="1" onclick="keyPadAction(this)">1</button>
            <button type="button" id="2" onclick="keyPadAction(this)">2</button>
            <button type="button" id="3" onclick="keyPadAction(this)">3</button>
            <button type="button" id="4" onclick="keyPadAction(this)">4</button>
            <button type="button" id="5" onclick="keyPadAction(this)">5</button>
            <button type="button" id="6" onclick="keyPadAction(this)">6</button>
            <button type="button" id="7" onclick="keyPadAction(this)">7</button>
            <button type="button" id="8" onclick="keyPadAction(this)">8</button>
            <button type="button" id="9" onclick="keyPadAction(this)">9</button>
        </div>
        <div class="control-grid">
            <button type="button" id="c" onclick="keyPadAction(this)">
                <i class="fa-solid fa-eraser"></i>
            </button>
        </div>
    </div>
</div>

<div class="score-page">
    <div class="top">
        <h1>congratulations!!!</h1>
    </div>

    <div class="score">
        <h2>Score: <span id="score"></span></h2>
    </div>

    <div class="stats">
        <h3>Base Score: <span id="base"></span></h3>
        <h3>Time: <span id="time"></span></h3>
        <h3>Time Bonus: <span id="time-bonus"></span></h3>
        <h3>Mistakes: <span id="mistakes"></span></h3>
    </div>

    <div class="btn-grid">
        <form action="/game" method="post">
            <button type="submit" name="action" value="replay">Play Again</button>
            <button type="submit" name="action" value="home">Home</button>
        </form>
    </div>
</div>
{% endblock %}