{% extends "layout.html" %}

{% block main %}
<div>
    <h1>Game Stats</h1>
    <a href="/">Back</a>
    <div>
        <h2>Total Score : {{ session['user_stats']['total_score'] }}</h2>
        <div>
            {% for i in range(0, 4) %}
            <div>
                <h2>Mode : {{ session['user_stats']['modes'][i] }}</h2>
                <h3>Games Played : {{ session['user_stats']['play_count'][i] }}</h3>
                <h3>Games Completed : {{ session['user_stats']['won'][i] }}</h3>
                <h3>Highest Score : {{ session['user_stats']['highest_score'][i] }}</h3>
                <h3>Best Time : {{ times[i] }}</h3>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}